img {
    object-fit: cover;
    width: 50%;
    height: auto;
    position: fixed;
    z-index: -1;
}

.hero-container {
    /* background: url('/img/img.png') center center/cover no-repeat; */
    height: auto;
    width: 70%;
    display: 100%;
    position: relative;
    overflow: visible;
    margin-bottom: -60px;
}

.hero-container, h1 {
    font-size: 80px;
    color: #ff9635;
    float: bottom;
    text-align: left;
}

.hero-container, h2 {
    font-size: 25px;
    color: #757575;
    text-align-last: right;
}

.hero-container, p {
    font-size: 20px;
    color: #757575;
    text-align: justify;
    float: inherit;
}

.hero-container, strong {
    font-size: 45px;
    color: #ff9635;
    text-align: justify;
}

